build
cyclomonitor.code-workspace
src/cyclomonitor/__pycache__/
src/cyclomonitor/ibtracs/__pycache__/
src/cyclomonitor/locales/__pycache__/
src/cyclomonitor/ibtracs/locales/__pycache__/
src/cyclomonitor/ibtracs/BestTrack.db
src/bot.log
src/cyclomonitor.egg-info
